
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*{
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html, body{
    max-width:100%;
    margin: 8px;
    padding: 16px 32px;
}

header{
    border-bottom: 1px solid black;
    padding: 16px;
}

h1{
    margin: 16px;
    padding: 32px;
}

.navmenu{
    display:flex;
    width:100%;
    color:#212429;
    font-size: 16px;
    list-style: none;
    justify-content: center;
    background-color: #fff;
}

@media(max-width: 920px){
    .navmenu{
        display: none;
    }
    .nav-icon{
        display: none;
    }
    }

a {
    text-decoration: none;
    color:#212429;
    font-size: 16px;
    padding: 16px;
    margin: 8px;
}

a:hover{
    color:cadetblue
}

.grid-container{
    width: 100%;
    padding: 16px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 8px;
    justify-content: space-between;    
}


.item {
    padding:16px;
    text-align: center;
}

.borde-redondeado{
 border-radius: 25px;
}

.nav-icon{
    display:flex;
    width:100%;
    color:#212429;
    list-style: none;
    justify-content: end;
    top: 0px;
}

.menu-icon{

    top: 16px;
    left: 100px;
}
