
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*{
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.navmenu{
    display: flex;
    align-items: center;
    padding: 16px;
    justify-content: space-between;
    border-bottom: 1px solid black;
    position: sticky;
    top: 0px;
    background-color: #fff
}

@media(max-width: 920px){
    .navmenu{
        display: none;
    }
    .nav-icon{
        display: none;
    }
    }

a {
    text-decoration: none;
    color:#212429;
    font-size: 16px;
    padding: 16px;
    margin: 8px;
}

a:hover{
    color:cadetblue
}

.grid-container{
    width: 100%;
    padding: 16px;
    display: grid ;
    gap: 8px;
    justify-content: space-between;    
}

.item {
    padding:16px;
    text-align: center;    
}

.informacion {
    align-items: end; 
}


.borde-redondeado {
 border-radius: 15px;
}

.nav-icon{
    display:flex;
    width:100%;
    color:#212429;
    list-style: none;
    justify-content: end;
    top: 0px;
}

.menu-icon{

    top: 16px;
    left: 100px;
}

footer {
    display:flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-wrap: wrap;
    padding: 32px;
    margin: 32px;
    background-color:#212429;
    width:100%;
}

.footer-items{
    color: #fff;
    font-size: 14px;
}

footer img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: #fff;
    }
   






