
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*{
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    border-bottom: 1px solid black;
    position: sticky;
    top: 0px;
    background-color: #fff
}


@media(max-width: 920px){
    .menu-icon {
        margin: 0 auto;
    }
    .navmenu{
        display: none;
    }
    .nav-icon{
        display: none;
    }
    }

a {
    text-decoration: none;
    color:#212429;
    font-size: 16px;
    padding: 16px;
    margin: 8px;
}

a:hover{
    color:cadetblue
}

main {
    margin: 16px;
}

.grid-container{
   max-width: 1280px;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   margin: 0 auto;

}

.item {
    margin: 32px;   
}

.informacion {
 display: flex;
 justify-content: space-between;
 margin-top: 16px;
 padding: 16px;
}

/* en .item img: border-radius: 15px; tambien funcionaria */
.borde-redondeado {
 border-radius: 15px;
}

footer {
    display:flex;
    justify-content: space-between;
    padding: 32px;
    background-color:#212429;
    color: #fff;
}

.footer-items{
    display: flex;
    align-items: center;
}

.footer-items span{
    padding: 8px;
    margin-right: 16px;
    border-radius: 100%;
    background-color: #fff;
}
   
@media(max-width: 920px){

    footer {
        flex-direction:column;
        gap: 32px;
    }
    .footer-items {
        padding-bottom: 16px;
        border-bottom: 1px solid #fff;
    }
}





