
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
html, body, head{
    margin:0px;
    padding: 0px;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 16px
}
.item {
    padding:16px;
    border: 1px solid black;
}