
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
html, body, head{
    margin:0px;
    padding: 0px;
}

.navmenu{
    display:flex
}

.navmenu{
    color:#212429;
    font-size: 16px;
    padding: 0px;
    list-style: none;
    justify-content: space-between;
    flex: auto;

}

a {
    text-decoration: none;
    color:#212429;
    font-size: 16px;
}

a:hover{
    color:cadetblue
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 16px
}
.item {
    padding:16px;
    border: 1px solid black;
    text-align: center;
}